# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular libraries used by Data Scientists
* Give you a few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Python libraries :
    * pandas
    * NumPy
    * matplotlib
    * seaborn
    * scikit-learn
2. R libraries:
    * ggplot
    * dplyr
    * caret
    * plotly
    * lattice

| Data Science Tools |
|:-|
| Jupiter Notebook |
| R-studio |
| Apachi Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
200 / 60

3.3333333333333335

## Author
Elena Savilova